<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image Search Abstraction Layer for freeCodeCamp</title>
    <meta name="description" content="The second project in the freeCodeCamp Back End Development Certification: Header Parser Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <main class="container my-5">
        <h1 class="display-3 text-success">Image Search Abstraction Layer</h1>
        <p class="lead">This app is a image search engine, created as a freeCodeCamp project:</p>
        <ol>
            <li>Write the searched word as a parameter, after /api/search/.</li>
            <li>Add ?offset=20 at the end, or any other number, to paginate throguh the results.</li>
            <li>Also, if you visit this link, you can view the 10 latest searched words.</li>
        </ol>
        <h2 class="text-success">Cool, huh?</h2>
        <p>You can check it easily, here:</p>
        <h4>Go to this url and see the JSON output.</h4>
      <p class="alert alert-secondary"><a href="https://majestic-pump.glitch.me/api/search/dog?offset=32" target="_blank">https://majestic-pump.glitch.me/api/search/dog?offset=32</a></p>
        <h4>Or visit this url to check the latest search terms:</h4>
      <p class="alert alert-secondary"><a href="https://majestic-pump.glitch.me/api/latest/search" target="_blank">https://majestic-pump.glitch.me/api/latest/search</a></p>
    </main>
</body>
</html>